
* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
    padding: 20px;
    background: #000000;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }

  
 
  
  
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 25%;
    padding-right: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
    
  }
aside{
    width: 50%;
    height: auto;
    padding-right: 20px;
    float: right;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .iframe-container iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
   

  

  .card {
     background-color: rgb(134, 134, 134);
     padding: 20px;
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  

 
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-weight:bold;
  }
  .image{
    float: left;
  }
  h5,h2,p{
      color: white;
  }


 
@media screen and (max-width: 800px) {
  .leftcolumn,.rightcolumn {   
       width: 100%;
       padding: 0;
     }
   }  
 

  
  
  

  